html {background-image: url(https://cdn.kibrispdr.org/data/599/gif-background-41.gif); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
body {background-color: rgba(250, 235, 215, 0.733);}

.navbar {background-color: rgba(48, 131, 226, 0.555);}

